# Autotools
autom4te.cache/
m4/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
stamp-h1
*.desktop
*.desktop.in
*.m4
*.pc
po/Makefile.in.in

# Compiler output
*.la
*.lo
*.mo
*.o
.deps/
.libs/
*-resources.c
*-resources.h
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
cinnamon-session/cinnamon-session
cinnamon-session/csm-app-glue.h
cinnamon-session/csm-client-glue.h
cinnamon-session/csm-inhibitor-glue.h
cinnamon-session/csm-manager-glue.h
cinnamon-session/csm-marshal.c
cinnamon-session/csm-marshal.h
cinnamon-session/csm-presence-glue.h
cinnamon-session/test-client-dbus
cinnamon-session/test-inhibit
cinnamon-session/test-process-helper
data/org.cinnamon.SessionManager.gschema.valid
data/org.cinnamon.SessionManager.gschema.xml
doc/dbus/cinnamon-session.html
doc/dbus/cinnamon-session.xml
doc/dbus/org.gnome.SessionManager.Client.ref.xml
doc/dbus/org.gnome.SessionManager.ClientPrivate.ref.xml
doc/dbus/org.gnome.SessionManager.Inhibitor.ref.xml
doc/dbus/org.gnome.SessionManager.Presence.ref.xml
doc/dbus/org.gnome.SessionManager.ref.xml
tools/cinnamon-session-check-accelerated
tools/cinnamon-session-check-accelerated-helper
tools/cinnamon-session-quit
