[Desktop Entry]
Type=Application
Name=Window Manager
Exec=cinnamon-wm
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
Name[en_US]=cinnamon-wm.desktop
