[Desktop Entry]
Type=Application
Name=Window Manager
Name[af]=Vensterbestuurder
Name[am]=መስኮቱን መቆጣጠሪያ
Name[ar]=مدير النوافذ
Name[as]=সংযোগক্ষেত্ৰ পৰিচালক
Name[ast]=Alministrador de Ventanes
Name[az]=Pəncərə İdarəçisi
Name[be]=Кіраўнік вокнаў
Name[be@latin]=Kiraŭnik voknaŭ
Name[bg]=Мениджър на прозорци
Name[bn]=উইন্ডো ম্যানেজার
Name[bn_IN]=উইন্ডো পরিচালন ব্যবস্থা
Name[br]=ardoer prenestroù
Name[bs]=Menadžer prozora
Name[ca]=Gestor de finestres
Name[ca@valencia]=Gestor de finestres
Name[crh]=Pencere İdarecisi
Name[cs]=Správce oken
Name[cy]=Rheolwr Ffenestri
Name[da]=Vindueshåndtering
Name[de]=Fenstermanager
Name[dz]=སྒོ་སྒྲིག་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής παραθύρων
Name[en@shaw]=𐑢𐑦𐑯𐑛𐑴 𐑥𐑨𐑯𐑩𐑡𐑼
Name[en_CA]=Window Manager
Name[en_GB]=Window Manager
Name[eo]=Fenestradministrilo
Name[es]=Gestor de ventanas
Name[et]=Aknahaldur
Name[eu]=Leiho-kudeatzailea
Name[fa]=مدیر پنجره‌ها
Name[fi]=Ikkunointiohjelma
Name[fr]=Gestionnaire de fenêtres
Name[fur]=Window Manager
Name[ga]=Bainisteoir Fuinneoga
Name[gl]=Xestor de xanelas
Name[gu]=વિન્ડો સંચાલક
Name[ha]=Manajan Taga
Name[he]=Window Manager
Name[hi]=विन्डो मैनेजर
Name[hr]=Upravitelj prozora
Name[hu]=Ablakkezelő
Name[hy]=Պատուհանի մենեջեր
Name[id]=Pengatur Jendela
Name[ig]=Onyenlekọta Windo 
Name[is]=Gluggastjóri
Name[it]=Window manager
Name[ja]=ウインドウ・マネージャ
Name[ka]=ფანჯარათა მმართველი
Name[kn]=ವಿಂಡೋ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=창 관리자
Name[ku]=Menajerê Paceyan
Name[lt]=Langų valdyklė
Name[lv]=Logu pārvaldnieks
Name[mai]=विन्डो मैनेजर
Name[mg]=Mpandrindra fikandrana
Name[mk]=Менаџер за прозорци
Name[ml]=ജാലക പാലകന്‍
Name[mn]=Цонхны менежер
Name[mr]=खिडकी व्यवस्थापक
Name[ms]=Pengurus Tetingkap
Name[nb]=Vindushåndterer
Name[nds]=Finsteroppasser
Name[ne]=सञ्झ्याल प्रबन्धक
Name[nl]=Windowmanager
Name[nn]=Vindaugehandsamar
Name[nso]=Molaodi wa Lefesetere
Name[oc]=Gestionari de fenèstras
Name[or]=ୱିଣ୍ଡୋ ପରିଚାଳକ
Name[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ
Name[pl]=Menedżer okien
Name[ps]=کړکۍ سمبالګر
Name[pt]=Gestor de Janelas
Name[pt_BR]=Gerenciador de janelas
Name[ro]=Administrator de ferestre
Name[ru]=Менеджер окон
Name[rw]=Umuyobozi w'idirishya
Name[si]=කවුළු කළමණාකරු
Name[sk]=Správca okien
Name[sl]=Upravljalnik oken
Name[sq]=Organizuesi i dritareve
Name[sr]=Управник прозора
Name[sr@latin]=Upravnik prozora
Name[sv]=Fönsterhanterare
Name[ta]=சாளரமேலாளர்
Name[te]=గవాక్ష నిర్వాహకి
Name[th]=โปรแกรมจัดการหน้าต่าง
Name[tk]=Äpişge Müdiri
Name[tr]=Pencere Yöneticisi
Name[uk]=Віконний менеджер
Name[uz]=Oyna boshqaruvchisi
Name[uz@cyrillic]=Ойна бошқарувчиси
Name[vi]=Bộ quản lý cửa sổ
Name[wa]=Manaedjeu di purneas
Name[xh]=Umlawuli Wefestile
Name[yo]=Alábòójútó Fèrèsé
Name[zh_CN]=窗口管理器
Name[zh_HK]=視窗管理員
Name[zh_TW]=視窗管理員
Name[zu]=Umphathi wefasitela
Exec=gnome-wm
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
